

section {
    width: 220px;
    height: 260px;
    box-shadow: 3px 3px 3px black;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1 {
    color: #fff;
}

.onePiece {
    background: linear-gradient(to bottom, #f01b1b, #0efdf1);
}

.naruto {
    background: linear-gradient(to bottom, #d0ff00, #ff7300);
}

.hunter {
    background: linear-gradient(to bottom, #02e014, #a52a2a);
}

.bleach {
    background: linear-gradient(to bottom, #fff, #ff0000);
}

.bleach h1 {
    color: black;
}